<h2>Ingrese productos</h2>
    <form action="/api/productos" method="post" name="productos">
        <div>
            <label for="title"></label>
            <input type="text" name="title" required>
        </div>
        <div>
            <label for="price"></label>
            <input type="text" name="price" required>
        </div>
        <div>
            <label for="thumbnail"></label>
            <input type="text" name="thumbnail" required>
        </div>
        <button>Enviar</button>
    </form>